<footer id="footer">
  <div class="container">
    <div class="top-footer">
      <div class="footer-logo">
        <img src="assets/images/logo-white.png" alt="abz.agency" class="logo-img">
      </div>
      <div class="footer-menu">
        <ul class="bottom-links">
          <li><a href="">About me</a></li>
          <li><a href="">Relationships</a></li>
          <li><a href="">Requirements</a></li>
          <li><a href="">Users</a></li>
          <li><a href="">Sign Up</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-content">
      <div class="info">
        <ul class="icons hide-on-med">
          <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i></li>
          <li><i class="fa fa-mobile" aria-hidden="true"></i></li>
        </ul>
        <ul>
          <li><span>work.of.future@gmail.com</span></li>
          <li><span>+38 (050) 789 24 98</span></li>
          <li><span>+38 (095) 556 08 45</span></li>
        </ul>
      </div>
      <div class="links-wrapper hide-on-mob">
        <ul class="bottom-links">
          <li><a href="#">News</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Shop</a></li>
        </ul>
        <ul class="bottom-links">
          <li><a href="#">Overview</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Code</a></li>
          <li><a href="#">Collaborate</a></li>
        </ul>
        <ul class="bottom-links">
          <li><a href="#">Tutorials</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Guides</a></li>
          <li><a href="#">Examples</a></li>
        </ul>
        <ul class="bottom-links">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Conditions</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="copywriting hide-on-mob"><span>&#169;</span> abz.agency specially for the test task</div>
      <div class="social">
        <ul>
          <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
          <li><i class="fa fa-linkedin-square" aria-hidden="true"></i></li>
          <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
          <li><i class="fa fa-pinterest-square" aria-hidden="true"></i></li>
        </ul>
      </div>
      <div class="copywriting show-on-mob"><span>&#169;</span> abz.agency specially for the test task</div>
    </div>
  </div>
</footer>


