<section id="top-banner">
  <div class="container">
    <div class="banner-content-wrapper">
      <h1>
        Test assignment for Frontend Developer position
      </h1>
      <div class="sub-text hide-on-mob">
        We kindly remind you that your test assignment should
        be submitted as a link to github/bitbucket repository.
        Please be patient, we consider and respond to every application that meets minimum requirements. We look forward to your submission. Good luck!
      </div>
      <div class="sub-text show-on-mob">
        We kindly remind you that your test assignment should
        be submitted as a link to github/bitbucket repository.
      </div>
      <a href="#" class="btn-primary">
        Sign Up
      </a>
    </div>
  </div>
</section>
